input{

  outline: none;
  border: none;
  background:none;

}

button{

  border: none;
  background: none;

}

.input{

  width: 270px;
  min-height: 20px;
  background-color: white;
  padding: 5px;
  color : black;
  border: 1px solid darkcyan;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 10px;

}


.add{

  margin-left: 78%;
  margin-bottom: 10px;
  min-height: 25px;
  width: 60px;
  background-color: white;
  color : darkred;
  border-radius: 5px;
  border: 1px solid hsl(10,100,70);

}

.add:hover{

  background-color: hsl(10,100,85);

}

.items{

  display: flex;
  width: 270px;
  margin-top: 10px;

}

li{
  margin: 0;
  padding: 0;
  color: darkred;
}

.remove{

  min-height: 25px;
  width: 60px;
  background-color:white;
  color : darkgreen;
  border-radius: 5px;
  margin-left:5px;
  border: 1px solid darkcyan;

}

.remove:hover{

  background-color:aquamarine;
}


.item{

  display : flex;
  align-items: center;
  min-height: 25px;
  width: 220px;
  color : darkred;
  overflow-x: auto;

}



.clear{
  min-height: 25px;
  width: 270px;
  background-color:aquamarine;
  color : darkgreen;
  border-radius: 5px;
  border: 1px solid darkcyan;
  margin-top: 20px;
}
